{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password Change Page
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Changing Password</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success mt-3">Chane My Password</button>
        </form>
        <br>
        <a href="{% url 'login' %}">Go Back to Login</a>
    </div>
{% endblock content %}