Hello dear user

this email has been sent from {{ domain }}

you asked for a Password Reset because you have forgotten it.

you can reset your Password by clinking on this Link.
notice that if you didn't ask for a Reset, just simply ignore this message and DO NOT clink on this link.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

in case you have forgotten your username either, that is : {{ user.username }}

کاربر عزیز سلام

این ایمیل از سمت سایت {{ domain }}  ارسال شده است.

درخواست شما برای تغییر رمز ثبت شد. شما می توانید با کلیک روی لینک بالا، اقدام به ریست کردن پسور خود کنید.
در صورتی که این درخواست از جانب شما نبوده، این پیام را نادیده گرفته و روی لینک کلیک نکنید.

یوزرنیم شما، اگر اونو هم فراموش کردی خاک بر سرت، اینه : {{ user.username }}